        <!-- | ------------- separando HTML para não incorporar uma página inteira ------------ | -->
    </div>
        <footer style="background-color:  #161616;">
        <hr>
        <p style="text-align: center; color: #ffffff;">
            FATEC Registro-SP &reg; 2025
        </p>
        <br>
    </footer>

    </body>
</html>