*{
    margin: 0%;
}

/* 01, 02 */
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: #161C22;
    background-color: lightgrey;
    padding-top: 30px;
}

.button{
    width: 120px;
    height: 60px;
    border: 1px solid;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.dark{
    color: lightblue;
    background-color: #161C22;
    border-color: lightblue;
}

.light{
    color: #161C22;
    background-color: lightblue;
    border-color: #161C22;
}