<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <h2 class="m-5">Welcome to Thunderbolt S10</h2>
       
    <div class="container-capas">
        <img class="capa first" src="/imgs/magic.jpg" alt="Imagem de capa" style="z-index: 3;">
        <img class="capa second" src="/imgs/archer.png" alt="Imagem de capa" style="z-index: 2; margin-left: 2%;">
        <img class="capa third" src="/imgs/warior.jpg" alt="Imagem de capa" style="z-index: 1; margin-left: 4%;">
    </div>

    <h3>Login</h3>

    <div class="form-floating m-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-5">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
    </div>

    <div class="d-grid gap-3 w-50 mb-5">
  <button class="btn btn-outline-success" type="button">Login</button>
  <button class="btn btn-primary" type="button">Missed password</button>
</div>
        
    <%- include ('partials/footer.ejs') %>
