<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao NodeJS e ExpressJS</title>
</head>
<body>
    <h1>Bem-vindo a Homepage!</h1>
    <hr>
    <ul>
        <li><a href="/produtos">Ir para Produtos>></a></li>
        <li><a href="/clientes">Ir para Clientes>></a></li>
        <li><a href="/perfil">Ir para Perfil>></a></li>
    </ul>
    <img src="/imgs/nonono.png" alt="Imagem de capa">
</body>
</html>